<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Colectivo</title>

    <link rel="shortcut icon" href="../static/logo_casamonte.ico">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Lato:wght@100&family=Montserrat:wght@300&family=Space+Mono&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="container">
            <div class="banner">
                <h1>Colectivo casamonte</h1>
                <div class="logo">
                    <a href="../index.html"> 
                        <img  SRC="../static/logo_casamonte.jpg"  alt="logo_casamonte" >
                    </a>
                </div>
            </div>
            <div class="cmenu">
                <nav class="menu">
                
                        <a href="../index.html">Inicio</a>
                        <a href="./texto.html">Texto</a>
                        <a href="./video.html">Video</a>
                        <a href="./audio.html">Audio</a>
                        <a href="./fotos.html">Fotos</a>
                
                </nav>       
            </div>
        </div>
    </header>
    <div class="row">
        
        <div class="main">
           
        </div>
        <div class="side">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laboriosam id pariatur corporis, ipsa modi, fuga optio quod quos aut possimus doloribus nulla voluptates incidunt repellendus saepe illo repellat neque!</p>
        </div>
    </div>

    <div class="container">
        <footer class="final">
            <div>
                <a href="https://facebook.com">
                    <img src="../static/facebook.png">
                </a>
                <a href="https://instagram.com">
                    <img src="../static/instagram.png">
                </a>
                <a href="https://youtube.com">
                    <img src="../static/youtube.png">
                </a>
                <a href="https://twiter.com">
                    <img src="../static/twiter.png">
                </a>
            </div>
        </footer>
    </div>


</body>
</html> 