<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Colectivo</title>

    <link rel="shortcut icon" href="../static/logo_casamonte.ico">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1>Colectivo casamonte</h1>
        <a href="../index.html" > 
            <img id="logo" SRC="../static/logo_casamonte.jpg"  alt="logo_casamonte" >
        </a>
          
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./texto.html">Texto</a></li>
                <li> <a href="./video.html">Video</a></li>
                <li><a href="./audio.html">Audio</a></li>
                <li><a href="./fotos.html">Fotos</a></li>
            </ul>
        </nav>       
    
    </header>
    <div class="row">
        
        <div class="main">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae excepturi deleniti veritatis magni repellendus ipsum aspernatur molestias aut illum alias architecto deserunt, quisquam iusto dignissimos. Vitae unde cum iure fugit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum facere eveniet error assumenda neque? Asperiores totam nemo quibusdam laudantium in ut aliquid, dolores omnis! Ad aut in doloribus dolores qui!
        </div>
        <div class="side">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laboriosam id pariatur corporis, ipsa modi, fuga optio quod quos aut possimus doloribus nulla voluptates incidunt repellendus saepe illo repellat neque!</p>
        </div>
    </div>

    <footer class="final">
        <a href="https://facebook.com">
            <img src="../static/facebook.png">
        </a>
        <a href="https://instagram.com">
            <img src="../static/instagram.png">
        </a>
        <a href="https://youtube.com">
            <img src="../static/youtube.png">
        </a>
        <a href="https://twiter.com">
            <img src="../static/twiter.png">
        </a>
        
    </footer>
    


</body>
</html> 