* {
    margin:0; 
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1800px;
    margin: auto;
    
}  
header {
    background-color: #02b097;
    
    width: 100%;
    
}
header h1{
    
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 50px;
   
    
}
.logo{
    
    padding: 10px 0;
    
}
.logo img{
    height: 120px;
    display: block;
    margin: auto;
}
.banner{
    margin: auto;
    background-color: rgba(68, 70, 69,0.4);
    max-width: 400px;
    
}
.cmenu{
    background-color: #444645;
    height: 30px;
}
.menu{
   
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}
.menu a{
    padding: 0 5px;
    text-decoration: none;
    color: white;
    text-transform: initial;
    font-size: 20px;
}
.menu a:hover{
    text-align: center;
    background-color: #ddd;
    color: black;
    min-width: 18%;
    font-size: 25px;
    
    
}
/*
nav {
  
    padding: 10px;
    background-color: #444645;
    text-align: center;
}
nav ul{
    list-style: none;
    display: inline-block;
    
 }
 nav ul li{
    float: left;
   
}
nav ul li a {
    color: white;
   
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}
nav ul li a:hover {
    background-color: #ddd;
    color: black;
  }*/
.row {  
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 50px);
}
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
.main {
    text-align: center;
    
    flex: 70%;
    background-color: white;
    padding: 10px;
}
.contactenos { 
  
  display: flex;
  width: 100%;
  /*align-items: center;*/
  justify-content: center;
  background-color: #02b097;
}
.contactenos > div {
    
    text-align: justify;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
  }
.main img {
    width: 120px;
}



.final{
    bottom: 0;
    max-width: 1800px;
    background-color: #444645;
    
}
.final > div{
    
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.final img {
    
    padding: 10px;
    width: 50px;
    
}
.calistoga{
    font-family: 'Calistoga', cursive;
}
.lato{
    font-family: 'Lato', sans-serif;
}
montserrat{
    font-family: 'Montserrat', sans-serif;
}
monospace{
    font-family: 'Space Mono', monospace;
}